<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KHJ_AI</title>
  <meta name="description" content="TensorFlow.js 머신러닝 모델이 동작하는 NodeJS 웹서버" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&family=Poppins:ital,wght@0,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="../style/header/header.css" type="text/css" />
  <link rel="stylesheet" href="<%= css %>" type="text/css" />
  <script src="https://kit.fontawesome.com/4fd689e8f2.js" crossorigin="anonymous"></script>
  <script src='../script/header.js' async></script>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <%- body %>
</body>
</html>