<main class="main">
  <header class="main-header">
    <h1 class="title">KHJ AI</h1>
    <p class="description">TensorFlow.js 머신러닝 모델이 동작하는 NodeJS 웹서버</p>
  </header>
  <div class="container">
    <div class="codeBox">
      <img src='./images/tensorflow.svg' />
    </div>
    <div class="codeBox">
      <img src='./images/nodejs.svg' />
    </div>
  </div>
</main>