<video id="video" width="400" height="300" autoplay muted></video>

<div class="recommend">
</div>

<script defer src="../script/face-api.min.js"></script>
<script defer src="../script/test.js"></script>